.custom-modal .modal-content {
  background-color: #404244;
  color: white;
  border-radius: 10px;
}

.card-hover {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.05);
  z-index: 1;
}

.titulo-filtro {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.titulo-filtro:hover {
  color: #cccccc;
}

.titulo-filtro.ativo {
  color: #999999;
  font-weight: bold;
  text-decoration: underline;
}
